<h1>Студенти</h1>

<ul>
  <% @students.each do |student| %>
    <li>
        <a href="<%= student_path(student) %>">
            <%= student.name %> <%= student.surname %>
        </a>
    </li>
  <% end %>
</ul>

<p>Дії</p>
<ul>
  <li><%= link_to "New student", new_student_path() %></li>
</ul>

<p>Статистика</p>
<ul>
  <li>Номер курса з найбільшим процентом чоловіків: <%= @t1 %></li>
  <li>Найрозповсюдженіші чоловічі та жіночі імена: <%= @t2 %></li>
  <li>Прізвища в алфавітному порядку: <%= @t3 %></li>
  <li>Ініціали студенток з найрозповсюдженішим віком: <%= @t4 %></li>
</ul>
