<h1><%= @student.name %> <%= @student.surname %></h1>

<p>Patronymic: <%= @student.patronymic %></p>
<p>Sex: <%= @student.sex %></p>
<p>Age: <%= @student.age %></p>
<p>Course: <%= @student.course %></p>